body
{
    font-family: 'Open Sans';
    font-weight: 400;
    background: url(../images/headerBg.png) repeat-x;
    font-size: 14px;
}

.myriad
{
    font-family: 'Myriad Pro';
}

.white-text
{
    color: white;
}

.gray-text
{
    color: #B1B0B0;
}

.shadow
{
    text-shadow: 0px 1px 2px #464c48;
}

.extrabold
{
    font-weight: 800;
}

.light
{
    font-weight: 300;
}

.mainHeading
{
    font-size: 4em;
}

.descripiptionHeading
{
    font-size: 2em;
}

.center-text
{
    text-align: center;
}

button, a
{
    font-family: 'Open Sans';
    outline: none;
}

    button:hover
    {
        cursor: pointer;
    }

.clear
{
    clear: both;
}

.wrapper
{
    width: 960px;
    margin: 0 auto;
}

light-gray-button:hover, dark-gray-button:hover
{
    background: url(../images/btnHover.png) repeat-x;
}

/*===============================================*/
/*HEADER STYLE*/
/*===============================================*/
#mainHeader
{
    padding-top: 2%;
    background: url(../images/headerBg.png) repeat-x;
    width: 100%;
    height: 641px;
    background-color: #C1CDD3;
}

    #mainHeader > h1
    {
        display: inline;
        font-weight: normal;
        font-size: 3em;
    }

    #mainHeader > ul
    {
        display: inline;
        margin-left: 2%;
    }

    #mainHeader ul li
    {
        display: inline;
        padding: 0.5%;
        margin-left: 1%;
    }

        #mainHeader ul li a:hover
        {
            padding: 0.5% 1% 0.5% 1%;
            background-color: #04638e;
            border: 2px solid #6F8C9B;
            border-radius: 5px 5px 5px 5px;
        }

/*===============================================*/
/*SLIDER STYLE*/
/*===============================================*/
#slider-wrapper
{
    height: 92.3%;
    background: url(../images/themeImage.png) no-repeat bottom center;
}

    /*#slider-wapper img#rightArr
{
    position: absolute;
    top: 0;
    right: 0;
}

#slider-wapper img#leftArr
{
    position: absolute;
    top: 0;
    left: 0;
}*/

    #slider-wrapper #slide
    {
        padding-top: 13%;
    }


/*===============================================*/
/*TESTIMONIAL AND TEXT BOX STYLE*/
/*===============================================*/
#testimonials
{
    color: #555e58;
    margin-top: 10%;
}

.testimonial
{
    background: url('../images/quotes.png') no-repeat top center;
    padding-top: 15%;
}

.text-box
{
    width: 30%;
    margin-left: 3%;
    float: left;
}

    .text-box h2
    {
        font-size: 1.71em;
    }

    .text-box button
    {
        float: right;
    }

button.light-gray-button
{
    height: 32px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #e0dddd;
    background: url('../images/light-gray-btn-bg.png') repeat-x top left;
}

button.dark-gray-button
{
    height: 32px;
    border-radius: 5px 5px 5px 5px;
    color: #3d433f;
    border: 1px solid #535955;
    background: url('../images/dark-gray-btn-bg.png') repeat-x top left;
}

#testimonial-big
{
    width: 80%;
    margin: 7% auto auto auto;
}

    #testimonial-big .testimonial-quote-big
    {
        font-family: Arial;
        font-size: 3em;
    }

    #testimonial-big h2
    {
        display: inline;
        font-size: 1.5em;
    }

        #testimonial-big h2 span
        {
            font-size: 0.9em;
        }


/*===============================================*/
/*NEWS AND UPDATES*/
/*===============================================*/
#newsAndUpdates
{
    background-color: #829aa7;
    margin-top: 5%;
}

    #newsAndUpdates .wrapper > header
    {
        padding-top: 5%;
    }

    #newsAndUpdates .news
    {
        padding-top: 10%;
        background: url('../images/emptyCircle.png') no-repeat top center;
    }

        #newsAndUpdates .news header h2
        {
            font-size: 1.57em;
        }

        #newsAndUpdates .news .postInfo
        {
            color: #3d433f;
        }

    #newsAndUpdates button.big-dark-gray-button
    {
        margin: 5% 0 10% 33%;
        border: 1px solid #404642;
        height: 62px;
        width: 338px;
        font-size: 2.14em;
        font-weight: 300;
        text-shadow: 0px 1px 2px #272727;
        border-radius: 10px 10px 10px 10px;
        background: url('../images/big-dark-gray-button.png') repeat-x top left;
    }

/*===============================================*/
/*TESTIMONIAL AND TEXT BOX STYLE*/
/*===============================================*/
#workAndFeedback
{
    margin-top: 5%;
}

    #workAndFeedback > header
    {
        color: #636b66;
    }

    #workAndFeedback .big-feedback-circle
    {
        background: url(../images/big-feedback-circle.png) no-repeat;
    }

    #workAndFeedback .big-dark-feedback-circle
    {
        background: url(../images/big-light-feedback-circle.png) no-repeat;
    }

    #workAndFeedback .circle .circleContent
    {
        width: 200px;
        padding: 14%;
        margin-top: 17%;
    }

        #workAndFeedback .circle .circleContent p
        {
            color: #4A524D;
            padding: 1% 0 2% 0;
            text-shadow: 0px 1px 2px #fff;
        }

    #workAndFeedback .big-light-gray-button
    {
        margin: 5% 0 10% 33%;
        border: 1px solid #e0dddd;
        height: 62px;
        width: 338px;
        font-size: 2.14em;
        font-weight: 300;
        border-radius: 10px 10px 10px 10px;
        background: url('../images/big-light-gray-button.png') repeat-x top left;
    }

    #workAndFeedback .circle .circleContent span.date
    {
        font-size: 0.9em;
    }

.circle
{
    position: relative;
    width: 267px;
    height: 267px;
    float: left;
    margin-left: 5%;
}

#allCircles
{
    margin-top: 5%;
}


#plansAndPricing
{
    padding-top: 5%;
    background-color: #829aa7;
}

.table
{
    margin-top: 4%;
}

/*#plansAndPricing table
    {
        margin-top: 5%;
        border: 1px solid #334049;
    }

        #plansAndPricing table th
        {
            background-color: #3d4b56;
            color: #fff;
            padding: 3% 5% 3% 5%;
            border-top: 1px solid #4A5B68;
        }*/

.dark-blue-button
{
    margin: 5% 0 10% 33%;
    border: 1px solid #2d363d;
    height: 62px;
    width: 338px;
    font-size: 2.14em;
    font-weight: 300;
    text-shadow: 0px 1px 2px #272727;
    border-radius: 10px 10px 10px 10px;
    background: url('../images/dark-blue-button.png') repeat-x top left;
}

footer
{
    margin-top: 9%;
    font-size: 1em;
    color: #555e58;
}

    footer > p
    {
        float: right;
        margin-top: 2%;
    }

h2.footeHeading
{
    color: #555e58;
}




/*768px*/
@media only screen and (max-width: 960px)
{
    body
    {
        font-size: 13px;
        background: url(../images/headerBg768.png) repeat-x;
    }

    #mainHeader
    {
        background: url(../images/headerBg768.png) repeat-x;
    }

    #slider-wrapper
    {
        background-size: 75%;
        height: 81.5%;
    }

        #slider-wrapper #slide
        {
            padding-top: 20%;
        }

    .wrapper
    {
        width: 768px;
    }

    .dissapear
    {
        visibility: hidden;
    }

    #workAndFeedback .big-feedback-circle
    {
        background-size: 90%;
        width: 200px;
        height: 200px;
    }

    #workAndFeedback .big-dark-feedback-circle
    {
        font-size: .8em;
        background-size: 90%;
        width: 200px;
        height: 200px;
    }

    #workAndFeedback .circle .circleContent
    {
        width: 160px;
        padding: 10% 10% 10% 5%;
        margin-top: 17%;
    }
}

/*480px*/
@media only screen and (max-width: 768px)
{
    body
    {
        font-size: 12px;
        background: url(../images/headerBg480.png) repeat-x;
    }

    .dissapear
    {
        display: none;
    }

    .wrapper
    {
        width: 480px;
    }

    #mainHeader
    {
        background: url(../images/headerBg480.png) repeat-x;
        text-align: center;
    }

        #mainHeader > ul
        {
            margin: 0;
        }

        #mainHeader ul li
        {
            display: block;
            margin-left: 14%;
        }


            #mainHeader ul li a
            {
                margin: 0;
                font-size: 2em;
                display: block;
                width: 320px;
                padding: 2%;
                background-color: #04638e;
                border: 2px solid #6F8C9B;
                border-radius: 5px 5px 5px 5px;
            }

                #mainHeader ul li a:hover
                {
                    display: block;
                    width: 320px;
                    padding: 2%;
                    background-color: #04638e;
                    border: 2px solid #6F8C9B;
                    border-radius: 5px 5px 5px 5px;
                }

    .dissapear2
    {
        visibility: hidden;
    }

    #slider-wrapper #slide
    {
        margin-top: -52%;
    }

    #slider-wrapper
    {
        background-size: 90%;
        height: 58.3%;
    }

    .testimonial
    {
        background: none;
    }

    .text-box
    {
        width: 100%;
        float: none;
    }

    #testimonial-big h2
    {
        display: inline;
        font-size: .9em;
    }

    #newsAndUpdates .news
    {
        padding-top: 10%;
        background: none;
    }

    #newsAndUpdates button.big-dark-gray-button
    {
        margin: 15%;
    }

    #workAndFeedback .circle
    {
        width: 130px;
        height: 130px;
    }

        #workAndFeedback .circle .circleContent
        {
            visibility: hidden;
        }


    #workAndFeedback button.big-light-gray-button
    {
        margin: 15%;
    }

    #plansAndPricing img
    {
        visibility: hidden;
    }

    #plansAndPricing
    {
        background-image: url(../images/smallTables.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
    }

        #plansAndPricing button.dark-blue-button
        {
            margin: 15%;
        }
}

.no-borderradius .wrapper #workAndFeedback button.big-light-gray-button
{
    behavior: url(../scripts/PIE.htc);
}
