#container {
    width:800px;
    height:600px;
}
    #container img {
        width:800px;
        height:600px;
        z-index:99;
        position:absolute;
        top:0;
        left:0;
    }
#leftArrow {
    display:block;
    width:32px;
    height:32px;
    background:url(images/left.png) no-repeat;
    background-size: 100%;
    position:absolute;
    top:284px;
    left:20px;
    z-index:100;
}
#rightArrow {
    display:block;
    width:32px;
    height:32px;
    background:url(images/right.png) no-repeat;
    background-size: 100%;
    position:absolute;
    top:284px;
    left:748px;
    z-index:100;
}